<form class="form-horizontal">
    <h4>General</h4>
    <div class="control-group">
        <label class="checkbox">
        <input type="checkbox" data-bind="checked>
        </label>
        </div>
    </div>
</form>